DATABASE_URL="postgresql://postgres:weather@db:5432/weather"
POSTGRES_PASSWORD=weather
POSTGRES_USER=postgres
POSTGRES_DB=weather

OPENWEATHER_API_URL=https://api.openweathermap.org/data/3.0/onecall?
OPENWEATHER_API_KEY=176474bbfff0b923b715b52349574a82

PORT=3000